# Hello World _in markdown_

In [1]:
def foo(bar):
    """This is a super helpful docstring!!"""
    return bar


foo('Hello')

'Hello'

In [2]:
# foo?  # Helpful for not having to go dig up the docs!

# Below will be Seattle Weather Analysis - 1948-2017

In [3]:
import pandas as pd
import numpy as np
# from numpy import *  This is a huge NO-NO
import datetime as dt

In [4]:
df = pd.read_csv('./seattle_weather.csv')

In [5]:
df.head(2)

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True

In [6]:
df.tail(2)

             DATE  PRCP  TMAX  TMIN   RAIN
25549  2017-12-13   0.0    48    34  False
25550  2017-12-14   0.0    50    36  False

In [7]:
df.sample(2)

             DATE  PRCP  TMAX  TMIN   RAIN
20022  2002-10-26  0.00    47    39  False
10967  1978-01-10  0.05    47    44   True

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 5 columns):
DATE    25551 non-null object
PRCP    25548 non-null float64
TMAX    25551 non-null int64
TMIN    25551 non-null int64
RAIN    25548 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 998.2+ KB

In [9]:
df.describe()

               PRCP          TMAX          TMIN
count  25548.000000  25551.000000  25551.000000
mean       0.106222     59.544206     44.514226
std        0.239031     12.772984      8.892836
min        0.000000      4.000000      0.000000
25%        0.000000     50.000000     38.000000
50%        0.000000     58.000000     45.000000
75%        0.100000     69.000000     52.000000
max        5.020000    103.000000     71.000000

**Add Datetime Info and swap Booleans to 1/0 values**

In [10]:
# def bool_swap(num):
#     if num == 'False':
#         num = 0
#         return
#     num = 1

df.RAIN = df.RAIN.apply(lambda x: 1 if x else 0)

In [11]:
df.DATE = pd.to_datetime(df.DATE)

In [12]:
df['DAY'] = df.DATE.apply(dt.datetime.isoweekday)
df['DAY_OF_WEEK'] = df.DATE.dt.weekday_name
df['MONTH'] = df.DATE.dt.month
df['YEAR'] = df.DATE.dt.year

### How many days in total has it rained vs not?

In [13]:
rained = df.RAIN.groupby(df.RAIN)

In [14]:
series = rained.count()
series

RAIN
0    14648
1    10903
Name: RAIN, dtype: int64

In [15]:
avg_rain = series.loc[0] / df.RAIN.count()
print(f'The average percent of not rain in Seattle is {avg_rain}')

The average percent of not rain in Seattle is 0.5732848029431333

In [16]:
df.sample(5)

            DATE  PRCP  TMAX  TMIN  RAIN  DAY DAY_OF_WEEK  MONTH  YEAR
16470 1993-02-03  0.00    51    36     0    3   Wednesday      2  1993
9661  1974-06-14  0.00    70    57     0    5      Friday      6  1974
22346 2009-03-07  0.08    45    31     1    6    Saturday      3  2009
24505 2015-02-03  0.05    50    42     1    2     Tuesday      2  2015
21762 2007-08-01  0.00    84    58     0    3   Wednesday      8  2007

In [17]:
df[df.YEAR == 2017].head()

            DATE  PRCP  TMAX  TMIN  RAIN  DAY DAY_OF_WEEK  MONTH  YEAR
25203 2017-01-01  0.43    37    28     1    7      Sunday      1  2017
25204 2017-01-02  0.00    34    26     0    1      Monday      1  2017
25205 2017-01-03  0.00    33    21     0    2     Tuesday      1  2017
25206 2017-01-04  0.00    36    22     0    3   Wednesday      1  2017
25207 2017-01-05  0.00    35    21     0    4    Thursday      1  2017

In [18]:
df[df.TMAX.isna() == True]

Empty DataFrame
Columns: [DATE, PRCP, TMAX, TMIN, RAIN, DAY, DAY_OF_WEEK, MONTH, YEAR]
Index: []

### What's the average temperature on days which have no rain?
- Filter for days with no rain
- Find average temp
- Present

In [19]:
rainless_df = df[df.RAIN == False].copy()

In [20]:
rainless_df['TAVG'] = (rainless_df.TMAX + rainless_df.TMIN) // 2

In [21]:
rainless_df.TAVG[rainless_df.YEAR == 1948].mean()

51.06878306878307

In [22]:
rainless_df.sample(5)

            DATE  PRCP  TMAX  TMIN  RAIN  DAY DAY_OF_WEEK  MONTH  YEAR  TAVG
24677 2015-07-25   0.0    70    58     0    6    Saturday      7  2015    64
8227  1970-07-11   0.0    76    51     0    6    Saturday      7  1970    63
4887  1961-05-19   0.0    85    52     0    5      Friday      5  1961    68
22620 2009-12-06   0.0    35    27     0    7      Sunday     12  2009    31
12898 1983-04-25   0.0    56    41     0    1      Monday      4  1983    48